@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/Mainlux-Light.otf') format('woff2');
  }
  .font-my-custom-font {
    font-family: 'MyCustomFont', sans-serif;
  }
  .gradient-text {
    background: linear-gradient(to right, #ef0077, #e9abca);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  
  .header {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
  }
  
  .logo {
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo svg {
    width: 40px;
    height: 40px;
    fill: #fff;
    background-color: red;
    border-radius: 50%;
    padding: 10px;
  }
  
  .logo-text {
    font-size: 24px;
    margin-left: 10px;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .nav-link {
    margin-right: 20px;
    color: #337ab7;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: pink-700;
  }
  
  .nav-link svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: #337ab7;
  }
  
  .button {
    background-color: #f7f7f7;
    border: none;
    padding: 100px 200px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #f2f2f2;
  }
  
  .button svg {
    width: 20px;
    height: 20px;
    margin-left: 10;
  }
  
  .rainbow-hover:hover {
    background-image: linear-gradient(to right, #ff69b4, #ff99cc, #ffc0cb, #ffff66, #99ff99, #66ccff, #3399ff);
    background-size: 100% 2px;
    background-position: 0% 100%;
    transition: background-position 0.3s ease-out;
  }
  
  .rainbow-hover:hover span {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .linkedin-anchor {
    @apply rainbow-hover;
  }